.creationContainer{
    border: solid gray;
    border-radius: 24px;
    background-color: antiquewhite;
    display: flex;
    margin: 10px 30px;
}

.creationContainer input{
    padding: 0;
    border:none;
    background-color: bisque;
    height: 48px;
    border-radius: 60px;
    padding-left: 20px;
    width: 80%;
}

.creationContainer button{
    border: none;
    background-color: antiquewhite;
    border-radius: 60px;
    width: 20%;
}

.try{
    height: 40%;
}

.imageContainer{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creationContainer   img{
    width: 30px;
    cursor:pointer;
}

.creationContainer img:hover{
    transform: rotate(224deg);
}


.creationMainDiv{
    width: 100%;
}